extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Thông tin tài khoản")
    if (user.fullName)
      div(class="mb-4")
        h1 #{user.fullName}

    if (user.avatar)
      div(class="mb-4")
        img(
          src=user.avatar
          style="width: 100px"
        )
    if (user.email)
      div(class="mb-4") Email: #{user.email}
        
    if (user.status)
      div(class="mb-4")
        span Trạng thái:
        if (user.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động
    if(friendList)
      div(class="mb-4") Danh sách bạn bè:
        ul
          each friend in friendList
            li #{friend.fullName}
    a(
      href=`/user/edit`
      class="btn btn-warning"
    ) Chỉnh sửa
